.background{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 0;
}

.Nav_bar{
  background-color: aliceblue;
}

.first-page{
  display: flex;
}
.first-page-left-block{
  width: 50%;
  margin-left: 100px;
}

.first-page-left-block >div{
  margin-top: 20px;
  margin: 30px;
  max-width: 700px;
}

.order-list{
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 20px;


  background-color: rgb(255, 50, 50);
  border-radius: 50%;

  margin-top: 5px;
  margin-right: 20px;
  text-align: center;
  line-height: 50px;
}

.first-page-right-block{
  font-size: small;
  display: block;
  width: 450px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;

  border: 1px gray solid;
  box-shadow: 0px 0px 10px 0.1px gray;

  background-color: aliceblue;
}

.form{

  background-color: aliceblue;
}

